@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothamPro.eot");
  src: url("fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro.woff2") format("woff2"), url("fonts/GothamPro.woff") format("woff"), url("fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Book.eot");
  src: url("fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Book.woff2") format("woff2"), url("fonts/Gotham-Book.woff") format("woff"), url("fonts/Gotham-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothamPro-Bold.eot");
  src: url("fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Bold.woff2") format("woff2"), url("fonts/GothamPro-Bold.woff") format("woff"), url("fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothamPro_1.eot");
  src: url("fonts/GothamPro_1.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro_1.woff2") format("woff2"), url("fonts/GothamPro_1.woff") format("woff"), url("fonts/GothamPro_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothamPro-Medium.eot");
  src: url("fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Medium.woff2") format("woff2"), url("fonts/GothamPro-Medium.woff") format("woff"), url("fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothamPro-Black.eot");
  src: url("fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("fonts/GothamPro-Black.woff2") format("woff2"), url("fonts/GothamPro-Black.woff") format("woff"), url("fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
* a {
  text-decoration: none;
  color: #f5f5f5;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.h2-title, .h3-title {
  font-family: "Gotham Pro";
  font-weight: 500;
  text-transform: uppercase;
}

.h2-title {
  font-size: 37px;
  line-height: 247px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.h2-title::before {
  z-index: -1;
  font-family: "Roboto Condensed", sans-serif;
  position: absolute;
  font-size: 247px;
  color: rgba(214, 214, 214, 0.5);
}

.info__title::before {
  content: "W";
}

.blog__title::before {
  content: "B";
}

.team__title::before {
  content: "T";
}

.feedback__title::before {
  content: "P";
}

.h3-title {
  font-size: 25px;
}

.h4-title {
  color: #11749e;
  text-transform: uppercase;
  font-family: "Gotham Pro";
  font-weight: 500;
  font-size: 18px;
}

.h2-subtitle {
  font-family: "Gotham";
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}

.h4-subtitle {
  color: #222222;
  text-transform: uppercase;
  font-family: "Gotham Pro";
  font-weight: 500;
  font-size: 15px;
}

.text {
  font-family: "Gotham";
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}

.btn {
  height: 38px;
  background-color: #11749e;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-transform: uppercase;
  font-family: "Gotham Pro";
  font-weight: 500;
  font-size: 15px;
}

.header {
  width: 100%;
  height: 115px;
  border-bottom: 1px solid rgba(126, 125, 124, 0.8);
  position: absolute;
  z-index: 10;
  top: 0;
}
.header .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .wrapper .logo {
  margin-right: 200px;
}
.header .wrapper .header-nav__wrapper {
  display: flex;
  position: absolute;
  top: 66px;
  right: 50%;
  margin-right: -338px;
}
.header .wrapper .header-nav__wrapper .header-nav__item {
  margin: 0 24px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: relative;
}
.header .wrapper .header-nav__wrapper .header-nav__item::before {
  content: "";
  position: absolute;
  top: 43.25px;
  width: 100%;
  height: 6px;
  opacity: 0;
  background: #11749e;
  transition: opacity 0.5s;
}
.header .wrapper .header-nav__wrapper .header-nav__item:hover:before {
  opacity: 1;
}
.header .wrapper .menu-icon__wrapper {
  cursor: pointer;
  width: 45px;
  height: 21px;
  position: absolute;
  right: 5%;
  display: none;
}
.header .wrapper .menu-icon__wrapper.menu-icon__wrapper-close {
  position: fixed;
}
.header .wrapper .menu-icon__wrapper .menu-icon__elem {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  height: 5px;
  background: #f5f5f5;
  border-radius: 10px;
  transition: transform 0.3s;
}
.header .wrapper .menu-icon__wrapper .menu-icon__elem.close {
  transition: transform 0.3s;
}
.header .wrapper .menu-icon__wrapper .menu-icon__elem.close.menu-icon__elem-2 {
  opacity: 0;
}
.header .wrapper .menu-icon__wrapper .menu-icon__elem.close.menu-icon__elem-1 {
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
}
.header .wrapper .menu-icon__wrapper .menu-icon__elem.close.menu-icon__elem-3 {
  transform: rotate(135deg);
  position: absolute;
  top: 10px;
}

.main .block-title {
  background: url("img/bg1.jpg") no-repeat;
  background-size: cover;
  height: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .block-title .block-title__title {
  color: #f5f5f5;
  text-align: center;
  flex-flow: column wrap;
  font-family: "Gotham Pro";
  font-weight: bold;
  font-size: 152px;
  text-transform: uppercase;
}
.main .block-title .block-title__title .block-title__subtitle {
  display: block;
  font-weight: 500;
  font-size: 25px;
  color: #11749e;
  letter-spacing: 10px;
}
.main .block-title .scroll-down {
  position: absolute;
  bottom: 110px;
  left: 50%;
  margin-left: -40px;
  width: 80px;
  height: 120px;
  color: #f5f5f5;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.main .block-title .scroll-down .scroll-down__icon {
  width: 64px;
  height: 64px;
  border: 1px solid #f5f5f5;
  border-radius: 100%;
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .block-title .scroll-down .scroll-down__icon::before {
  content: url("img/scrollArrow.svg");
  margin-top: 5px;
}
.main .info {
  background: #11749e;
  height: 740px;
}
.main .info .info__title {
  padding-top: 60px;
  padding-bottom: 40px;
}
.main .info .info__wrapper {
  display: flex;
  justify-content: space-between;
}
.main .info .info__wrapper .info-block {
  width: 23%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  color: #f5f5f5;
}
.main .info .info__wrapper .info-block .info-block__icon {
  border-radius: 100%;
  display: block;
  background: #2e85aa;
  width: 132px;
  height: 132px;
}
.main .info .info__wrapper .info-block .info-block__title {
  line-height: 64px;
  font-family: "Gotham Pro";
  font-weight: 500;
  font-size: 18px;
}
.main .news .news__wrapper {
  display: flex;
  width: 100%;
}
.main .news .news__wrapper.news-top__wrapper {
  background: #222222;
  color: #f5f5f5;
  flex-direction: row-reverse;
}
.main .news .news__wrapper.news-bottom__wrapper {
  background: #f3f3f3;
  color: #222222;
}
.main .news .news__wrapper .news-block {
  width: 50%;
}
.main .news .news__wrapper .news-block .news-block__wrapper {
  margin-top: 85px;
}
.main .news .news__wrapper .news-block .news-block__wrapper .news__time {
  margin-bottom: 10px;
}
.main .news .news__wrapper .news-block .news-block__wrapper .news__time .news__date {
  font-size: 13px;
}
.main .news .news__wrapper .news-block .news-block__wrapper .news__time .news__date .news__where::before {
  content: "|";
  margin: 0 8px;
}
.main .news .news__wrapper .news-block .news-block__wrapper .news__title {
  margin-bottom: 35px;
}
.main .news .news__wrapper .news-block .news-block__wrapper .news__text2 {
  margin-top: 35px;
}
.main .news .news__wrapper .news-block .news-block__wrapper.news-block__wrapper-top {
  margin-left: 247px;
  margin-right: 115px;
}
.main .news .news__wrapper .news-block .news-block__wrapper.news-block__wrapper-bottom {
  margin-right: 247px;
  margin-left: 115px;
}
.main .news .news__wrapper .news__img {
  width: 50%;
}
.main .blog {
  height: 967px;
}
.main .blog .blog__title {
  margin-top: 80px;
  margin-bottom: 10px;
}
.main .blog .blog-block__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
}
.main .blog .blog-block__wrapper .blog-block {
  width: 23%;
  text-align: center;
}
.main .blog .blog-block__wrapper .blog-block .blog__img {
  width: 100%;
}
.main .blog .blog-block__wrapper .blog-block .blog-block__title {
  margin: 35px 0 20px 0;
}
.main .note {
  background: #11749e;
  height: 355px;
}
.main .note .wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.main .note .note-block {
  display: flex;
  color: #f5f5f5;
  width: 47.5%;
}
.main .note .note-block .note__text {
  margin-left: 30px;
}
.main .phone {
  background: url("img/bg2.jpg");
  background-size: cover;
  height: 848px;
  color: #f5f5f5;
  position: relative;
}
.main .phone .phone__wrapper {
  width: 500px;
  padding-top: 225px;
}
.main .phone .phone__wrapper .phone__title {
  margin-bottom: 35px;
}
.main .phone .phone__wrapper .btn {
  margin-top: 25px;
}
.main .phone .phone__wrapper .btn.phone__btn1 {
  margin-top: 65px;
  width: 370px;
}
.main .phone .phone__wrapper .btn.phone__btn2 {
  width: 400px;
}
.main .phone .phone__wrapper .btn.phone__btn3 {
  width: 430px;
}
.main .phone .phone__img {
  position: absolute;
  right: 330px;
  top: 100px;
}
.main .team {
  height: 945px;
}
.main .team .team__title {
  margin-top: 20px;
}
.main .team .team-people__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.main .team .team-people__wrapper .team-people {
  display: flex;
  justify-content: center;
  width: 23%;
  position: relative;
}
.main .team .team-people__wrapper .team-people .team-name__wrapper {
  width: 215px;
  height: 75px;
  background: #ffffff;
  position: absolute;
  top: 366px;
  text-align: center;
}
.main .team .team-people__wrapper .team-people .team-name__wrapper .team-name__title {
  padding: 20px 0 5px 0;
}
.main .feedback {
  height: 850px;
  background: url("img/bg3.jpg");
  background-size: cover;
}
.main .feedback .feedback__title {
  padding-top: 100px;
  margin-bottom: 50px;
  color: #f5f5f5;
}
.main .feedback .feedback-form .feedback-form__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main .feedback .feedback-form .feedback__input {
  font-family: "Gotham";
  font-weight: normal;
  font-size: 15px;
  color: #f5f5f5;
  background: none;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding-left: 1.8%;
  height: 46px;
}
.main .feedback .feedback-form .feedback__input::placeholder {
  color: #f5f5f5;
}
.main .feedback .feedback-form .feedback__input:focus {
  border: 1px solid #2e85aa;
}
.main .feedback .feedback-form .feedback__textarea {
  width: 98.2%;
  height: 150px;
  padding-top: 17px;
  padding-left: 1.8%;
  resize: none;
}
.main .feedback .feedback-form .feedback__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  margin: 46px auto 0 auto;
  width: 227px;
  height: 64px;
  text-align: center;
  padding: 0;
  color: #f5f5f5;
}
.main .feedback .feedback-form .feedback__btn:focus {
  outline: 1px solid #f5f5f5;
}
.main .map {
  width: 100%;
  height: 330px;
  filter: invert(100%) grayscale(100%);
}

.footer {
  height: 115px;
  background: #222222;
}
.footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
  font-size: 13px;
}
.footer .wrapper .footer__text {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) {
  .h2-title {
    font-size: 27px;
    line-height: 147px;
  }
  .h2-title::before {
    font-size: 147px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 800px) {
  .h2-title {
    line-height: 40px;
    height: 147px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) {
  .h3-title {
    font-size: 25px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) {
  .h4-title {
    font-size: 18px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) {
  .h2-subtitle {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) {
  .h4-subtitle {
    font-size: 15px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) {
  .text {
    font-size: 15px;
    line-height: 25px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 950px) {
  .header .wrapper .menu-icon__wrapper {
    display: block;
  }
  .header .wrapper .header-nav__wrapper {
    position: fixed;
    width: 320px;
    height: 100vh;
    background: #222222;
    top: 0;
    right: 0;
    margin-right: -320px;
    flex-flow: column wrap;
    transition: margin-right 0.7s;
  }
  .header .wrapper .header-nav__wrapper.show {
    display: flex;
    margin-right: 0;
  }
  .header .wrapper .header-nav__wrapper::before {
    content: "";
    width: 100%;
    height: 115px;
    border-bottom: 1px solid #11749e;
  }
  .header .wrapper .header-nav__wrapper .header-nav__item {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10%;
    border-bottom: 1px solid #11749e;
  }
  .header .wrapper .header-nav__wrapper .header-nav__item::before {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .main .block-title .block-title__title {
    font-size: 125px;
  }
  .main .block-title .block-title__title .block-title__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 800px) {
  .main .block-title {
    height: 680px;
  }
  .main .block-title .scroll-down {
    display: none;
  }
  .main .block-title .block-title__title {
    font-size: 85px;
  }
  .main .block-title .block-title__title .block-title__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 630px) {
  .main .block-title {
    height: 520px;
  }
  .main .block-title .block-title__title {
    font-size: 65px;
  }
  .main .block-title .block-title__title .block-title__subtitle {
    font-size: 18px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 420px) {
  .main .block-title {
    height: 470px;
  }
  .main .block-title .block-title__title {
    font-size: 45px;
  }
  .main .block-title .block-title__title .block-title__subtitle {
    font-size: 13px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .info {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main .info .info__title {
    padding-top: 0;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 800px) {
  .main .info .info__title {
    padding-bottom: 0;
  }
  .main .info .info__wrapper {
    flex-flow: wrap;
  }
  .main .info .info__wrapper .info-block {
    width: 48%;
    margin-top: 50px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 800px) and (min-width: 0px) and (max-width: 500px) {
  .main .info .info__wrapper {
    flex-flow: column wrap;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 800px) {
  .main .info .info__wrapper .info-block {
    width: 90%;
    margin: 40px auto 0 auto;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .main .news .text {
    font-size: 13px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 650px) {
  .main .news .news__wrapper {
    flex-flow: column wrap;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .main .news .news__wrapper .news-block {
    width: 50%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) {
  .main .news .news__wrapper .news-block {
    padding-bottom: 30px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 650px) {
  .main .news .news__wrapper .news-block {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) {
  .main .news .news__wrapper .news-block .news-block__wrapper {
    margin-top: 40px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1260px) {
  .main .news .news__wrapper .news-block .news-block__wrapper .news__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) {
  .main .news .news__wrapper .news-block .news-block__wrapper .news__text2 {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1260px) {
  .main .news .news__wrapper .news-block .news-block__wrapper .news__text2 {
    margin-top: 10px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) {
  .main .news .news__wrapper .news-block .news-block__wrapper.news-block__wrapper-top {
    margin-left: 80px;
    margin-right: 80px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .main .news .news__wrapper .news-block .news-block__wrapper.news-block__wrapper-top {
    margin-left: 10%;
    margin-right: 5%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 650px) {
  .main .news .news__wrapper .news-block .news-block__wrapper.news-block__wrapper-top {
    margin: 25px 10%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) {
  .main .news .news__wrapper .news-block .news-block__wrapper.news-block__wrapper-bottom {
    margin-right: 80px;
    margin-left: 80px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .main .news .news__wrapper .news-block .news-block__wrapper.news-block__wrapper-bottom {
    margin-left: 5%;
    margin-right: 10%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 650px) {
  .main .news .news__wrapper .news-block .news-block__wrapper.news-block__wrapper-bottom {
    margin: 25px 10%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .main .news .news__wrapper .news__img {
    height: 60%;
    margin: auto 0;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 1050px) {
  .main .news .news__wrapper .news__img {
    margin: auto 2.5%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 650px) {
  .main .news .news__wrapper .news__img {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .main .blog .blog-block__wrapper .blog-block .blog__img {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .blog {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main .blog .blog__title {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 650px) {
  .main .blog .blog__subtitle {
    margin-bottom: 20px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .blog .blog-block__wrapper {
    flex-flow: wrap;
    margin-top: 0;
  }
  .main .blog .blog-block__wrapper .blog-block {
    width: 48%;
    margin-top: 50px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 650px) {
  .main .blog .blog-block__wrapper .blog-block {
    width: 90%;
    margin: 25px auto 0px auto;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .blog .blog-block__wrapper .blog-block .blog-block__title {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .blog .blog-block__wrapper .blog-block .blog__img {
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 650px) {
  .main .blog .blog-block__wrapper {
    flex-flow: column wrap;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 800px) {
  .main .note .wrapper {
    flex-flow: column wrap;
  }
  .main .note .note-block {
    width: 100%;
    height: 50%;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 500px) {
  .main .note {
    height: auto;
    padding: 20px 0;
    align-content: space-between;
  }
  .main .note .note-block {
    flex-flow: column wrap;
    text-align: center;
    padding: 20px 0;
  }
  .main .note .note-block .note__img {
    margin-bottom: 20px;
  }
  .main .note .note-block .note__text {
    margin: 0;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1500px) {
  .main .phone .phone__img {
    right: 5%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .phone {
    height: 648px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 630px) {
  .main .phone {
    height: auto;
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .main .phone .phone__title {
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .phone .phone__wrapper {
    width: 350px;
    padding-top: 100px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 630px) {
  .main .phone .phone__wrapper {
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .phone .phone__wrapper .phone__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .phone .phone__wrapper .phone__btn.phone__btn1 {
    margin-top: 45px;
    width: 250px;
  }
  .main .phone .phone__wrapper .phone__btn.phone__btn2 {
    width: 300px;
  }
  .main .phone .phone__wrapper .phone__btn.phone__btn3 {
    width: 350px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 630px) {
  .main .phone .phone__wrapper .phone__btn {
    margin: 25px auto 0 auto;
    width: 500px;
    justify-content: center;
    padding: 0;
  }
  .main .phone .phone__wrapper .phone__btn.phone__btn1, .main .phone .phone__wrapper .phone__btn.phone__btn2, .main .phone .phone__wrapper .phone__btn.phone__btn3 {
    width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .phone .phone__img {
    width: 35%;
    top: 50%;
    margin-top: -30%;
    right: 5%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 700px) {
  .main .phone .phone__img {
    right: 2.5%;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) and (min-width: 0px) and (max-width: 630px) {
  .main .phone .phone__img {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) {
  .main .team {
    height: auto;
    padding-top: 60px;
    padding-bottom: 85px;
  }
  .main .team .team__title {
    margin-top: 0;
  }
  .main .team .team-people__wrapper {
    margin-top: 0;
    flex-flow: wrap;
  }
  .main .team .team-people__wrapper .team-people {
    width: 50%;
    margin-top: 60px;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1200px) and (min-width: 0px) and (max-width: 650px) {
  .main .team .team-people__wrapper {
    flex-flow: column wrap;
  }
  .main .team .team-people__wrapper .team-people {
    width: 90%;
    margin: 60px auto 0 auto;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 1050px) {
  .main .feedback {
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .main .feedback .feedback__title {
    padding-top: 0;
  }
}
@media (min-width: 0px) and (max-width: 1500px) and (min-width: 0px) and (max-width: 750px) {
  .main .feedback .feedback-form .feedback-form__wrapper {
    flex-flow: column wrap;
    margin-bottom: 0;
  }
  .main .feedback .feedback-form .feedback-form__wrapper .feedback__input {
    margin-bottom: 20px;
    width: 98.5%;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .footer .wrapper {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .footer .wrapper .footer__text {
    display: flex;
    align-items: center;
    height: 30%;
  }
}

/*# sourceMappingURL=main.css.map */
