$white: #f5f5f5;
$blue: #11749e;
$gray: rgb(84%, 84%, 84%, 0.5);
$dark-blue: #2e85aa;
$black: #222222;
$light-gray: #f3f3f3;

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro.eot');
  src: url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('fonts/GothamPro.woff2') format('woff2'),
  url('fonts/GothamPro.woff') format('woff'),
  url('fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Book.eot');
  src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
  url('fonts/Gotham-Book.woff2') format('woff2'),
  url('fonts/Gotham-Book.woff') format('woff'),
  url('fonts/Gotham-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Bold.eot');
  src: url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/GothamPro-Bold.woff2') format('woff2'),
  url('fonts/GothamPro-Bold.woff') format('woff'),
  url('fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro_1.eot');
  src: url('fonts/GothamPro_1.eot?#iefix') format('embedded-opentype'),
  url('fonts/GothamPro_1.woff2') format('woff2'),
  url('fonts/GothamPro_1.woff') format('woff'),
  url('fonts/GothamPro_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Medium.eot');
  src: url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('fonts/GothamPro-Medium.woff2') format('woff2'),
  url('fonts/GothamPro-Medium.woff') format('woff'),
  url('fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Black.eot');
  src: url('fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
  url('fonts/GothamPro-Black.woff2') format('woff2'),
  url('fonts/GothamPro-Black.woff') format('woff'),
  url('fonts/GothamPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    color: $white;
  }
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
.h2-title, .h3-title{
  font-family: 'Gotham Pro';
  font-weight: 500;
  text-transform: uppercase;
}
.h2-title{
  font-size: 37px;
  line-height: 247px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  &::before{
    z-index: -1;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    font-size: 247px;
    color: $gray;
  }
}
.info__title::before{
  content: 'W';
}
.blog__title::before{
  content: 'B';
}
.team__title::before{
  content: 'T';
}
.feedback__title::before{
  content: 'P';
}
.h3-title{
  font-size: 25px;
}
.h4-title{
  color: $blue;
  text-transform: uppercase;
  font-family: 'Gotham Pro';
  font-weight: 500;
  font-size: 18px;
}
.h2-subtitle{
  font-family: 'Gotham';
  font-weight: normal;
  font-size: 30px;
  text-align: center;
}
.h4-subtitle{
  color: $black;
  text-transform: uppercase;
  font-family: 'Gotham Pro';
  font-weight: 500;
  font-size: 15px;
}
.text{
  font-family: 'Gotham';
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}
.btn{
  height: 38px;
  background-color: $blue;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-transform: uppercase;
  font-family: 'Gotham Pro';
  font-weight: 500;
  font-size: 15px;
}
.header{
  width: 100%;
  height: 115px;
  border-bottom: 1px solid rgba(126, 125, 124, 0.8);
  position: absolute;
  z-index: 10;
  top: 0;
  .wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    .logo{
      margin-right: 200px;
    }
    .header-nav__wrapper{
      display: flex;
      position: absolute;
      top: 66px;
      right: 50%;
      margin-right: -338px;
      .header-nav__item{
        margin: 0 24px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          top: 43.25px;
          width: 100%;
          height: 6px;
          opacity: 0;
          background: $blue;
          transition: opacity .5s;
        }
        &:hover:before{
          opacity: 1;
        }
      }
    }
    .menu-icon__wrapper{
      cursor: pointer;
      width: 45px;
      height: 21px;
      position: absolute;
      right: 5%;
      display: none;
      &.menu-icon__wrapper-close{
        position: fixed;
      }
      .menu-icon__elem{
        display: block;
        margin-bottom: 6px;
        width: 100%;
        height: 5px;
        background: $white;
        border-radius: 10px;
        transition: transform .3s;
        &.close{
          transition: transform .3s;
          &.menu-icon__elem-2{
            opacity: 0;
          }
          &.menu-icon__elem-1{
            transform: rotate(45deg);
            position: absolute;
            top:10px;
          }
          &.menu-icon__elem-3{
            transform: rotate(135deg);
            position: absolute;
            top:10px;
          }
        }
      }
    }
  }
}
.main{
  .block-title{
    background: url("img/bg1.jpg") no-repeat ;
    background-size: cover;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .block-title__title{
      color: $white;
      text-align: center;
      flex-flow: column wrap;
      font-family: 'Gotham Pro';
      font-weight: bold;
      font-size: 152px;
      text-transform: uppercase;
      .block-title__subtitle{
        display: block;
        font-weight: 500;
        font-size: 25px;
        color: $blue;
        letter-spacing: 10px;
      }
    }
    .scroll-down{
      position: absolute;
      bottom: 110px;
      left: 50%;
      margin-left: -40px;
      width: 80px;
      height: 120px;
      color: $white;
      font-family: 'Open Sans', sans-serif;
      font-size: 13px;
      .scroll-down__icon{
        width: 64px;
        height: 64px;
        border: 1px solid $white;
        border-radius: 100%;
        margin-top: 23px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before{
          content: url("img/scrollArrow.svg");
          margin-top: 5px;
        }
      }
    }
  }
  .info{
    background: $blue;
    height: 740px;
    .info__title{
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .info__wrapper{
      display: flex;
      justify-content: space-between;
      .info-block{
        width: 23%;
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        text-align: center;
        color: $white;
        .info-block__icon{
          border-radius: 100%;
          display: block;
          background: $dark-blue;
          width: 132px;
          height: 132px;
        }
        .info-block__title{
          line-height: 64px;
          font-family: 'Gotham Pro';
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
  .news{
    .news__wrapper{
      display: flex;
      width: 100%;
      &.news-top__wrapper{
        background: $black;
        color: $white;
        flex-direction: row-reverse;
      }
      &.news-bottom__wrapper{
        background: $light-gray;
        color: $black;
      }
      .news-block{
        width: 50%;
        .news-block__wrapper{
          margin-top: 85px;
          .news__time{
            margin-bottom: 10px;
            .news__date{
              font-size: 13px;
              .news__where{
                &::before{
                  content: '|';
                  margin: 0 8px;
                }
              }
            }
          }
          .news__title{
            margin-bottom: 35px;
          }
          .news__text2{
            margin-top: 35px;
          }
          &.news-block__wrapper-top{
            margin-left: 247px;
            margin-right: 115px;
          }
          &.news-block__wrapper-bottom{
            margin-right: 247px;
            margin-left: 115px;
          }
        }
      }
      .news__img{
        width: 50%;
      }
    }
  }
  .blog{
    height: 967px;
    .blog__title{
      margin-top: 80px;
      margin-bottom: 10px;
    }
    .blog-block__wrapper{
      display: flex;
      justify-content: space-between;
      margin-top: 85px;
      .blog-block{
        width: 23%;
        text-align: center;
        .blog__img{
          width: 100%;
        }
        .blog-block__title{
          margin: 35px 0 20px 0;
        }
      }
    }
  }
  .note{
    background: $blue;
    height: 355px;
    .wrapper{
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: space-between;
    }
    .note-block{
      display: flex;
      color: $white;
      width: 47.5%;
      .note__text{
        margin-left: 30px;
      }
    }
  }
  .phone{
    background: url("img/bg2.jpg");
    background-size: cover;
    height: 848px;
    color: $white;
    position: relative;
    .phone__wrapper{
      width: 500px;
      padding-top: 225px;
      .phone__title{
        margin-bottom: 35px;
      }
      .btn{
        margin-top: 25px;
        &.phone__btn1{
          margin-top: 65px;
          width: 370px;
        }
        &.phone__btn2{
          width: 400px;
        }
        &.phone__btn3{
          width: 430px;
        }
      }
    }
    .phone__img{
      position: absolute;
      right: 330px;
      top: 100px;
    }
  }
  .team{
    height: 945px;
    .team__title{
      margin-top: 20px;
    }
    .team-people__wrapper{
      display: flex;
      justify-content: space-between;
      margin-top: 75px;
      .team-people{
        display: flex;
        justify-content: center;
        width: 23%;
        position: relative;
        .team-name__wrapper{
          width: 215px;
          height: 75px;
          background: #ffffff;
          position: absolute;
          top: 366px;
          text-align: center;
          .team-name__title{
            padding: 20px 0 5px 0;
          }
        }
      }
    }
  }
  .feedback {
    height: 850px;
    background: url("img/bg3.jpg");
    background-size: cover;


    .feedback__title {
      padding-top: 100px;
      margin-bottom: 50px;
      color: $white;
    }

    .feedback-form {
      .feedback-form__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
      }

      .feedback__input {
        font-family: 'Gotham';
        font-weight: normal;
        font-size: 15px;
        color: $white;
        background: none;
        border: 1px solid $white;
        width: 30%;
        padding-left: 1.8%;
        height: 46px;

        &::placeholder {
          color: $white;
        }

        &:focus {
          border: 1px solid $dark-blue;
        }
      }

      .feedback__textarea {
        width: 98.2%;
        height: 150px;
        padding-top: 17px;
        padding-left: 1.8%;
        resize: none;
      }

      .feedback__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        margin: 46px auto 0 auto;
        width: 227px;
        height: 64px;
        text-align: center;
        padding: 0;
        color: $white;

        &:focus {
          outline: 1px solid $white;
        }
      }
    }
  }
  .map{
    width: 100%;
    height: 330px;
    filter: invert(100%) grayscale(100%);
  }
}
.footer{
  height: 115px;
  background: $black;
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: $white;
    font-size: 13px;
    .footer__text{
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}
@media (min-width: 0px) and (max-width: 1500px) {
  @media (min-width: 0px) and (max-width: 1200px) {
    .wrapper{
      width: 90%;
    }
    @media (min-width: 0px) and (max-width: 1050px) {
      .h2-title{
        font-size: 27px;
        line-height: 147px;
        &::before{
          font-size: 147px;
        }
        @media (min-width: 0px) and (max-width: 800px) {
          line-height: 40px;
          height: 147px;
        }
      }
      .h3-title{
        font-size: 25px;
      }
      .h4-title{
        font-size: 18px;
      }
      .h2-subtitle{
        font-size: 20px;
      }
      .h4-subtitle{
        font-size: 15px;
      }
      .text{
        font-size: 15px;
        line-height: 25px;
      }
    }
  }
  @media (min-width: 0px) and (max-width: 950px) {
    .header {
      .wrapper {
        .menu-icon__wrapper{
          display: block;
        }
        .header-nav__wrapper {
          position: fixed;
          width: 320px;
          height: 100vh;
          background: $black;
          top: 0;
          right: 0;
          margin-right: -320px;
          flex-flow: column wrap;
          transition: margin-right .7s;

          &.show{
            display: flex;
            margin-right: 0;

          }
          &::before{
            content: '';
            width: 100%;
            height: 115px;
            border-bottom: 1px solid $blue;
          }
          .header-nav__item{
            display: flex;
            align-items: center;
            height: 80px;
            width: 100%;
            margin: 0 auto;
            padding-left: 10%;
            border-bottom: 1px solid $blue;
            &::before{
              display: none;
            }
          }
        }
      }
    }
  }
  .main {
    .block-title {

      @media (min-width: 0px) and (max-width: 1200px) {
        .block-title__title {
          font-size: 125px;

          .block-title__subtitle {
            font-size: 20px;
          }
        }
      }

      @media (min-width: 0px) and (max-width: 800px) {
        height: 680px;
        .scroll-down{
          display: none;
        }
        .block-title__title {
          font-size: 85px;

          .block-title__subtitle {
            font-size: 20px;
          }
        }
      }

      @media (min-width: 0px) and (max-width: 630px) {
        height: 520px;

        .block-title__title {
          font-size: 65px;

          .block-title__subtitle {
            font-size: 18px;
          }
        }
      }

      @media (min-width: 0px) and (max-width: 420px) {
        height: 470px;

        .block-title__title {
          font-size: 45px;

          .block-title__subtitle {
            font-size: 13px;
          }
        }
      }

    }
    .info {

      @media (min-width: 0px) and (max-width: 1050px) {
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        .info__title{
          padding-top: 0;
        }
      }

      @media (min-width: 0px) and (max-width: 800px) {
        .info__title {
          padding-bottom: 0;
        }
        .info__wrapper {
          flex-flow: wrap;

          .info-block {
            width: 48%;
            margin-top: 50px;
          }
          @media (min-width: 0px) and (max-width: 500px) {
            flex-flow: column wrap;
          }
          .info-block {
            width: 90%;
            margin: 40px auto 0 auto;
          }
        }
      }



    }

    .news {
      @media (min-width: 0px) and (max-width: 1200px) {
        .text {
          font-size: 13px;
        }
      }
      .news__wrapper {
        @media (min-width: 0px) and (max-width: 650px) {
          flex-flow: column wrap;
        }
        .news-block {
          @media (min-width: 0px) and (max-width: 1200px) {
            width: 50%;
            @media (min-width: 0px) and (max-width: 1050px) {
              padding-bottom: 30px;
            }
            @media (min-width: 0px) and (max-width: 650px) {
              width: 100%;
            }
          }
          .news-block__wrapper {
            margin-top: 40px;

            @media (min-width: 0px) and (max-width: 1260px) {
              .news__title {
                margin-top: 20px;
                margin-bottom: 20px;
              }
            }
            .news__text2 {
              margin-top: 20px;
              @media (min-width: 0px) and (max-width: 1260px) {
                margin-top: 10px;
              }
            }
            &.news-block__wrapper-top {
              margin-left: 80px;
              margin-right: 80px;
              @media (min-width: 0px) and (max-width: 1200px) {
                margin-left: 10%;
                margin-right: 5%;
                @media (min-width: 0px) and (max-width: 650px) {
                  margin: 25px 10%;
                }
              }
            }
            &.news-block__wrapper-bottom {
              margin-right: 80px;
              margin-left: 80px;
              @media (min-width: 0px) and (max-width: 1200px) {
                margin-left: 5%;
                margin-right: 10%;
                @media (min-width: 0px) and (max-width: 650px) {
                  margin: 25px 10%;
                }
              }
            }
          }
        }
        @media (min-width: 0px) and (max-width: 1200px) {
          .news__img {
            height: 60%;
            margin: auto 0;
            @media (min-width: 0px) and (max-width: 1050px) {
              margin: auto 2.5%;
            }
            @media (min-width: 0px) and (max-width: 650px) {
              width: 100%;
              margin: 0;
            }
          }
        }
      }
    }

    .blog {
      @media (min-width: 0px) and (max-width: 1200px) {
        .blog-block__wrapper {
          .blog-block {
            .blog__img {
              width: 100%;
            }
          }
        }
      }
      @media (min-width: 0px) and (max-width: 1050px) {
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        .blog__title{
          margin-top: 0;
          margin-bottom: 0;

        }
        @media (min-width: 0px) and (max-width: 650px) {
          .blog__subtitle{
            margin-bottom: 20px;
          }
        }
        .blog-block__wrapper{
          flex-flow: wrap;
          margin-top: 0;
          .blog-block{
            width: 48%;
            margin-top: 50px;
            @media (min-width: 0px) and (max-width: 650px) {
              width: 90%;
              margin: 25px auto 0px auto;
            }
            .blog-block__title{
              margin-top: 15px;
              margin-bottom: 10px;
            }
            .blog__img{
              width: auto;
            }
          }
          @media (min-width: 0px) and (max-width: 650px) {
            flex-flow: column wrap;
          }
        }
      }
    }

    .note {
      @media (min-width: 0px) and (max-width: 800px) {
        .wrapper{
          flex-flow: column wrap;
        }
        .note-block{
          width: 100%;
          height: 50%;
          align-items: center;
        }
      }
      @media (min-width: 0px) and (max-width: 500px) {
        height: auto;
        padding: 20px 0;
        align-content: space-between;
        .note-block{
          flex-flow: column wrap;
          text-align: center;
          padding: 20px 0;
          .note__img{
            margin-bottom: 20px;
          }
          .note__text{
            margin: 0;
          }
        }
      }
    }

    .phone {
      @media (min-width: 0px) and (max-width: 1500px) {
        .phone__img{
          right: 5%;
        }
      }
      @media (min-width: 0px) and (max-width: 1050px) {
        height: 648px;
        @media (min-width: 0px) and (max-width: 630px) {
          height: auto;
          padding-bottom: 60px;
          padding-top: 60px;
          .phone__title{
            text-align: center;
          }
        }
        .phone__wrapper{
          width: 350px;
          padding-top: 100px;
          @media (min-width: 0px) and (max-width: 630px) {
            width: 90%;
            margin: 0 auto;
            padding-top: 0;
            text-align: center;
          }
          .phone__title{
            margin-bottom: 20px;
          }
          .phone__btn{
            &.phone__btn1{
              margin-top: 45px;
              width: 250px;
            }
            &.phone__btn2{
              width: 300px;
            }
            &.phone__btn3{
              width: 350px;
            }
            @media (min-width: 0px) and (max-width: 630px) {
              margin: 25px auto 0 auto;
              width: 500px;
              justify-content: center;
              padding: 0;
              &.phone__btn1, &.phone__btn2, &.phone__btn3{
                width: 100%;
              }
            }
          }
        }
        .phone__img {
          width: 35%;
          top: 50%;
          margin-top: -30%;
          right: 5%;
          @media (min-width: 0px) and (max-width: 700px) {
            right: 2.5%;
          }
          @media (min-width: 0px) and (max-width: 630px) {
            display: none;
          }
        }
      }
    }

    .team {
      @media (min-width: 0px) and (max-width: 1200px) {
        height: auto;
        padding-top: 60px;
        padding-bottom: 85px;
        .team__title{
          margin-top: 0;
        }
        .team-people__wrapper{
          margin-top: 0;
          flex-flow: wrap;
          .team-people{
            width: 50%;
            margin-top: 60px;
          }
          @media (min-width: 0px) and (max-width: 650px) {
            flex-flow: column wrap;
            .team-people{
              width: 90%;
              margin: 60px auto 0 auto;
            }
          }
        }
      }
    }

    .feedback {
      @media (min-width: 0px) and (max-width: 1050px) {
        height: auto;
        padding-top: 60px;
        padding-bottom: 60px;
        .feedback__title{
          padding-top: 0;
        }
      }
      @media (min-width: 0px) and (max-width: 750px) {
        .feedback-form{
          .feedback-form__wrapper{
            flex-flow: column wrap;
            margin-bottom: 0;
            .feedback__input{
              margin-bottom: 20px;
              width: 98.5%;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .footer{
    .wrapper{
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      .footer__text{
        display: flex;
        align-items: center;
        height: 30%;
      }
    }
  }
}